@use "../base/variables" as var;

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../../assets/fonts/Inter-Regular.woff2") format(".woff2"), url("../../assets/fonts/Inter-Regular.woff") format(".woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("../../assets/fonts/Inter-Black.woff2") format(".woff2"), url("../../assets/fonts/Inter-Black.woff") format(".woff");
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var.$primary;
}

::-webkit-scrollbar-thumb {
  background-color: var.$secondary;
  border-radius: 8px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;

  @media (min-width: 64rem) {
    font-size: 1.125rem;
  }

  // background-color: var.$primary;
}

main {
  max-width: 1400px;
  margin-inline: auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  color: var.$secondary;
  font-weight: var.$fw-400;
  text-transform: capitalize;
  margin-bottom: 1.375rem;
}

.header-line {
  height: 1px;
  background-color: var.$primary;
  width: 263px;
}

p {
  color: var.$secondary;
}

// main {
//   position: relative;
//   z-index: 998px;
// }

.section-center {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-top: 96px;
}
