/* ========== */
/* Colors     */
/* ========== */

$primary: #dbdbdb;
$secondary: #133955;
$white: #fff;
$black: #000;
$error-color: hsl(354, 84%, 57%);

/* ========== */
/* Typography */
/* ========== */

$fw-400: 400;
$fw-700: 700;
$fw-800: 800;

/* ========== */
/* Mixin */
/* ========== */

$transition: 0.3s ease-in-out;

@mixin reset-list-style {
  list-style: none;

  a {
    text-decoration: none;
  }
}

@mixin btn-filled {
  display: inline-block;
  background-color: $secondary;
  padding: 0.36rem 57px;
  border-radius: 10px;
  color: $primary;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid transparent;
  transition: $transition;

  &:hover {
    background-color: $primary;
    border: 1px solid $secondary;
    color: $secondary;
  }
}

@mixin btn-outline {
  display: inline-block;
  background-color: $primary;
  border: 1px solid $secondary;
  padding: 0.36rem 57px;
  border-radius: 10px;
  color: $secondary;
  font-size: 1.5rem;
  text-align: center;
  transition: $transition;

  &:hover {
    background-color: $secondary;
    border: 1px solid transparent;
    color: $primary;
  }
}

/* ========== */
/* Utilities */
/* ========== */

$gap-bottom-content: 2.3rem;
$mobile-font-size: clamp(2.25rem, 1.5344rem + 3.0534vw, 3rem);
$section-gap: calc(4.8rem - 96px);

// $section-gap-desktop:

/* ========== */
/* Animation */
/* ========== */

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

@include keyframes(rotation) {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Define the fade-in mixin
@mixin fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

// Define the keyframes animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
