@use "../base/variables" as var;

.hero {
  margin-bottom: var.$section-gap;

  @media (min-width: 64rem) {
    margin-bottom: calc(8.5rem - 96px);
  }

  h1 {
    font-size: var.$mobile-font-size;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: var.$gap-bottom-content;
  }

  .header-line {
    margin-bottom: var.$gap-bottom-content;
  }

  p {
    text-align: center;
    max-width: 550px;
    margin-bottom: var.$gap-bottom-content;
    color: var.$secondary;

    @media (min-width: 64rem) {
      max-width: 800px;
    }
  }

  .cta-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @media (min-width: 46.5rem) {
      flex-direction: row;
      gap: 3.8rem;
    }

    > a {
      text-decoration: none;
      text-transform: capitalize;
    }

    a:first-child {
      @include var.btn-outline;
    }

    a:nth-child(2) {
      @include var.btn-filled;
      @media (min-width: 46.5rem) {
        order: 3;
      }
    }

    .resume-links {
      color: var.$secondary;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: var.$primary;
      padding-inline: 1rem;
      padding-block: 0.3rem;
      border-radius: 5px;
      text-decoration: underline;
      // font-weight: 700;
      font-size: 1.3rem;
      transition: 0.3s;

      &:hover {
        background-color: var.$secondary;
        color: var.$primary;
      }

      svg {
        font-size: 2rem;
      }
    }
  }
}
